{
	admin off
	#order forward_proxy before file_server
	log {
		output file /var/log/caddy/access.log {
			roll_size 5mb
			roll_keep 5
		}
		level INFO
	}
	servers {
		protocols h1 h2 h3
	}
}

:80 {
	redir https://{host}{uri} permanent
}

t.example.com {
	tls your@email.com
	#file_server {
	#	root /var/www/html
	#}
	forward_proxy {
		basic_auth login pass
		hide_ip
		hide_via
		probe_resistance verylongsecretstring
	}
}
